/*Formulario*/
.FormContentSecond{
	display: none;
}
.FormContentFirst, .ContentInfoTwo{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(12, 1fr);
}
.SubBtnContent{
	display: none;
}

.TitleForm{
	border-bottom: 0.25rem solid var(--ColorYellow);
	font-size: 1.5rem;
	grid-column: 1/-1;
	grid-row: 1/1;
}
.InputCode{
	grid-column: 1/7;
	grid-row: 2/2
}
.InputCategory{
	grid-column: 1/7;
	grid-row: 3/3;	
}
.InputDescription{
	grid-column: 1/7;
	grid-row: 4/4;
}
.InputUnd{
	grid-column: 7/9;
	grid-row: 3/3;	
}
.InputEmpaque{
	grid-column: 10/-1;
	grid-row: 3/3;	
}
.InputRef{
	grid-column: 1/4;
	grid-row: 5/5;
}
.InputMarca{
	grid-column: 7/10;
	grid-row: 2/2;
}
.InputDate{
	grid-column: 7/9;
	grid-row: 4/4;
}

.InputModel{
	grid-column: 10/-1;
	grid-row: 2/2;
}
.InputCostBefore{
	grid-column: 1/4;
	grid-row: 2/2;
}

.InputCostAfter{
	grid-column: 1/4;
	grid-row: 3/3;
}
.InputCostProm{
	grid-column: 1/4;
	grid-row: 4/4;
}
.InputUbicacion{
	grid-column: 1/5;
	grid-row: 5/5;
}
.InputExistMin{
	grid-column: 4/6;
	grid-row: 3/3;
}
.InputExistMax{
	grid-column: 4/6;
	grid-row: 4/4;
}

.InputExento{
	/*border: 1px solid #c2c2c2;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	grid-column: 4/6;
	grid-row:2/2;
}
.InputDecimal{
	border: 1px solid #c2c2c2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	grid-column: 11/-1;
	grid-row:4/4;
}

.InputStatus{
	border: 1px solid #c2c2c2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	grid-column: 11/-1;
	grid-row:5/5;
}
.InputImage{
	border: 1px solid #c2c2c2;
	grid-column: 8/-1;
	grid-row:2/6;
}

/*Price*/
.DatosPrice{
	grid-column: 1/-1;
	grid-row: 6/6;
}

.DatosPrice{
	background: #ffffff;
	padding-top: 16px;
	
}

.BotonAcordion{
	width: 100%;
	background: #95afc0;
	background: -webkit-linear-gradient(left, #2f3542,#ff4757, #747d8c, #003366);
	margin: auto;
	padding: 10px;
}
.BotonAcordion a{
	color: #fff;
}

.ContentPrice{
	display: none;
}

.Active{
	display: block;
}
/*.BodyAcordion{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
	grid-gap: 20px;
	width: 100%;
}*/
.FrmPrecios{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	width: 100%;
}
.PriceLabel{
	width: 10%;
}
.InputPrice{
	width: 80%;
}
.CampoPriceInv{
	display: flex;
	flex-direction: column;
}

